<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Open+Sans:ital,wght@0,300;1,300&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/x-icon" href="/images/icon-title.svg">
  <title>REAL</title>
</head>

<body>
  <div class="container-fluid bg-dark">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link text-secondary">About</a></li>
      </ul>
    </header>
  </div>
  <!-- BANNER -->
  <section>
    <div class="container-fluid px-0 w-100 position-relative">
      <img src="/images/banner.jpg" class="img-fluid px-0 w-100" alt="Banner" />
      <div class="position-absolute top-50 start-50 translate-middle">
        <div class="d-flex flex-column align-items-center text-center">
          <h2 class="text-secondary fs-0 fw-bold">REAL</h2>
          <h3 class="text-secondary fs-6 fw-light">"The company that truly solves the problems of your city."
            </h2>
            <button class="btn btn-primary p-2 mt-1 mt-md-4">
              <a class="text-secondary fw-bold text-decoration-none" href="#">
                COME WITH US
              </a>
            </button>
        </div>

      </div>
    </div>
  </section>
  <!-- O que ganha com a Real? -->
  <section>
    <div class="container mt-5 venha-ser">
      <div class="row">
        <p class="fs-2 text text-center fw-bold">
          What do you gain with REAL?
        </p>
      </div>
      <div class="container row mt-5 mb-5">
        <div class="px-0  col-12 col-md-6 col-lg-3 d-flex justify-content-start">
          <div class="">
            <img src="/images/Component 1.svg" alt="ícone">
          </div>

          <div class="d-flex flex-column ps-2 pe-3 mb-3 mb-lg-0 mw-90">
            <p class="text fw-bold">Your first work experience</p>
            <p class="text fw-light">
              Here you are hired without any experience, we help you!
            </p>
          </div>
        </div>
        <div class="px-0  col-12 col-md-6 col-lg-3 d-flex justify-content-start">
          <div class="">
            <img src="/images/Component 2.svg" alt="ícone">
          </div>

          <div class="d-flex flex-column ps-2 pe-3 mb-3 mb-lg-0 mw-90 text-dark">
            <p class="text fw-bold">Earn money without experience</p>
            <p class="text fw-light">
              We pay well, you're starting out but we help you.
            </p>
          </div>
        </div>
        <div class="px-0 col-12 col-md-6 col-lg-3 d-flex justify-content-start">
          <div class="">
            <img src="/images/Component 3.svg" alt="ícone">
          </div>

          <div class="d-flex flex-column ps-2 pe-3 mb-3 mb-lg-0 mw-90 text-dark">
            <p class="text fw-bold">You will help your own city</p>
            <p class="text fw-light">
              Your city needs your help, we give you the little push to be able to help.
            </p>
          </div>
        </div>
        <div class="px-0 col-12 col-md-6 col-lg-3 d-flex justify-content-start">
          <div class="">
            <img src="/images/Component 4.svg" alt="ícone">
          </div>

          <div class="d-flex flex-column ps-2 mb-3 mb-lg-0 mw-90 text-dark">
            <p class="text fw-bold">Open yourself up to new networks.</p>
            <p class="text fw-light">
              Opening doors to meet people in the job market is always important.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Apresentação da Compania -->
  <section>
    <div class="container">
      <hgroup class="texto-padrao mt-5 text-dark">
        <h2 class="fs-5 text-primary fw-bold">What are we?</h2>
        <h3 class="fs-1 text-dark fw-bold">
          Company Presentation
        </h3>
        <h4 class="fs-5">Let's talk about our market demands</h4>
      </hgroup>
    </div>
    <div class="container mt-5 mb-5 px-4">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="container row d-flex justify-content-start px-1">
            <div class="d-flex justify-content-center align-items-center"
              style=" width: 60px; height: 60px; border: #000000 2px solid; border-radius: 360px;">
              <img src="/images/experience.svg" alt="ícone" />
            </div>
            <div class="d-flex w-auto flex-column justify-content-center px-0">
              <p class="fs-3 text-dark fw-bold mb-1 ">Lack of experience</p>
              <p class="fs-6 text-dark fw-light mb-3">
                These days, we have many young people studying in their respective fields, but a lot of them struggle to
                land their
                first job. That's where we come in to help you.
              </p>
            </div>
          </div>
          <div class="container row d-flex justify-content-start px-1">
            <div class="d-flex justify-content-center align-items-center"
              style=" width: 60px; height: 60px; border: #000000 2px solid; border-radius: 360px;">
              <img src="/images/govern.svg" alt="ícone" />
            </div>
            <div class="d-flex w-auto flex-column justify-content-center px-0">
              <p class="fs-3 text-dark fw-bold mb-1">Unfinished government projects</p>
              <p class="fs-6 tex-darkt fw-light mb-3">
                These days, many government projects are never completed. Private companies often leave after receiving
                any portion of
                the final payment, which harms the entire community.
              </p>
            </div>
          </div>
          <div class="container row d-flex justify-content-start px-1">
            <div class="d-flex justify-content-center align-items-center"
              style=" width: 60px; height: 60px; border: #000000 2px solid; border-radius: 360px;">
              <img src="/images/student.svg" alt="ícone" />
            </div>
            <div class="d-flex w-auto flex-column justify-content-center px-0">
              <p class="fs-3 text-dark fw-bold  mb-3">Student exposure</p>
              <p class="fs-6 text-dark fw-light mb-4">
                Within the environment we study, we always strive to stand out. Here you find that opportunity, by
                executing projects
                from various fields, you can prove your worth.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8 mt-5 mt-lg-0 d-flex justify-content-center">
          <img class="img-fluid " src="/images/banner3.png" alt="banner">
        </div>
      </div>
    </div>
  </section>
  <!-- REAL IS COMUNNITY -->
  <section>
    <div class="container text-center mt-5 pt-5 mb-5 pb-5">
      <h2 style="color: #fff; background-color: none; font-style: italic; -webkit-text-stroke: 1px #004989"
        class="fs-0 text-center p-1 ">
        REAL IS COMUNNITY
      </h2>
    </div>
  </section>
  <!-- Plano de Negócios -->
  <section>
    <div style="background-color: #eaeaea;" class="w-auto h-auto  ">
      <div class="container">
        <div class="row pt-5">
          <div class="col-12 col-lg-5">
            <h2 class="text-primary fs-1 fw-bold mb-5">
              Business Plan
            </h2>
            <h3 class="text-primary fs-4 fw-bold mb-3">
              Investment
            </h3>
            <h3 class="text-dark fs-5 fw-medium mb-5">
              Initially, REAL will rely on state funding, corresponding to bid values, rather than seeking external
              investors. As a
              non-profit entity, our business model focuses on mediating between students and the government. The
              founding members
              will create the website, initiate promotion, beginning with IFSP (Federal Institute of Education, Science,
              and
              Technology of São Paulo), and later expand to other educational institutions, municipalities, states, and
              eventually,
              countries.
            </h3>
            <!-- segundo -->
            <h3 class="text-primary fs-4 fw-bold mb-3">
              Opportunity
            </h3>
            <h3 class="text-dark fs-5 fw-medium mb-5">
              REAL sees a significant opportunity in the municipal bidding market, aiming to address local issues while
              integrating
              young talents into the workforce. By focusing initially on municipal bids, we aim not only to achieve
              economic
              recognition but also to become a reference for public and private companies seeking specialized labor.
              This strategic
              approach will help us build a strong customer base and expand our operations sustainably, fostering
              economic and social
              development in our community and beyond.
            </h3>
            <!-- terceiro -->
            <h3 class="text-primary fs-4 fw-bold mb-3">
              Market and Competition
            </h3>
            <h3 class="text-dark fs-5 fw-medium mb-5">
              The current market for municipal bids presents untapped opportunities, with many remaining incomplete due
              to a lack of
              specialized resources. Bids for city infrastructure often require competencies taught in courses such as
              civil
              engineering, and swift completion can improve the city's structure. These gaps between market demand and
              specialized
              skills offer a significant opportunity for REAL and its students. In this competitive environment,
              existing players pose
              a challenge, but REAL can differentiate itself by harnessing the energy and capability of college students
              to offer
              innovative solutions to municipal government demands.
            </h3>


          </div>
          <div class="col-0 col-lg-1">


          </div>
          <div
            class="col-12 col-lg-6 d-flex justify-content-center align-items-center justify-content-lg-end align-items-lg-end h-auto mt-5 mt-lg-0 mb-5">
            <img class="img-fluid px-0 rounded" src="/images/banner2.png" alt="banner">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Problemas e Soluções -->
  <section>
    <div class="container mt-5 mb-5">
      <div class="row border border-primary border-2 p-2 m-1 m-lg-0">
        <div class="col-12 col-lg-5 p-4">
          <h2 class="text text-dark fs-3 fw-bold">Issues to be tackled</h2>
          <h3 class="text text-primary fs-5 fw-light">What we will face</h3>
          <p class="text text-dark fs-5 fw-light">
            The issue of unfinished bids directly impacts the city, leaving essential projects and services on hold and
            hindering
            local progress and development. For instance, the lack of completion of bids for city infrastructure leads
            to adverse
            effects such as delays in construction and inadequate services.
          </p>
        </div>
        <div class="col-0 col-lg-2"></div>
        <div class="col-12 col-lg-5 p-4 text-start text-lg-end">
          <h2 class="text text-dark fs-3 fw-bold">Tools to solve them</h2>
          <h3 class="text text-primary fs-5 fw-light">What we will solve</h3>
          <p class="text text-dark fs-5 fw-light">
            REAL connects students and government through optimized websites, efficiently completing unfinished bids to
            benefit the
            city and residents, while also enhancing infrastructure, providing valuable student learning opportunities,
            fostering
            community growth, and promoting collaboration for sustainable development.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Missão, Visão e Valores -->
  <section>
    <div style="background-color: #212121;" class="w-100 h-auto pt-5" id="carteirinhas-modal">
      <div class="container">
        <div class="row">
          <h2 class="text-secondary fw-bold fs-2">
            Mission, <br>
            Vision and<br>
            Values.
          </h2>
        </div>
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-gap-3 pt-5 pb-5">
          <div class="col">
            <div class="div position-relative" data-bs-toggle="modal" data-bs-target="#modalUsoComum"
              style="cursor: pointer;">
              <img src="/images/banner4.png" alt="" class="img-fluid w-100 rounded-1">
              <span class="position-absolute text-secondary fs-3 fw-bold ps-2 pt-1  top-0 start-0">MISSION</span>
            </div>
          </div>
          <div class="modal modal-xl fade" id="modalUsoComum" tabindex="-1" aria-labelledby="modalUsoComumLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                  <div class="container-fluid ">
                    <div class="row ">
                      <div class="col-12 col-lg-6 ">
                        <h2 class="fw-bold fs-3 tex-dark pb-3 "> MISSION</h2>
                        <h2 class="fw-light tex-dark fs-5 pb-3">To transform educational potential into tangible
                          opportunities by offering an innovative platform that builds careers
                          and revitalizes communities through the active participation of students and recent graduates
                          in unfinished bids.</h2>

                      </div>
                      <div class="col-12 col-lg-6 p-0 position-relative ">
                        <img src="/images/banner4.png" alt="" class="img-fluid w-100  rounded-1">
                        <span
                          class="text-secondary fw-bold ps-2 pt-1 mt-5 pt-5 position-absolute bottom-0 start-50 translate-middle-x  pb-5">
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="div position-relative" data-bs-toggle="modal" data-bs-target="#modalUsoEscolar"
              style="cursor: pointer;">
              <img src="/images/banner5.png" alt="" class="img-fluid w-100 rounded-1">
              <span class="position-absolute text-secondary fw-bold ps-2 pt-1 fs-3  top-0 start-0">
                VISION
              </span>
            </div>
          </div>
          <div class="modal modal-xl  fade" id="modalUsoEscolar" tabindex="-1" aria-labelledby="modalUsoEscolarLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                  <div class="container-fluid ">
                    <div class="row ">
                      <div class="col-12 col-lg-6 ">
                        <h2 class="fw-bold fs-3 tex-dark pb-3 "> Vision</h2>
                        <h2 class="fw-light tex-dark fs-5 pb-3"> To be the leading national reference in initiatives
                          that connect practical learning to the job market, generating
                          significant impact on the lives of participants and the prosperity of local communities. We
                          aim to be recognized as
                          agents of change who transform education into lasting opportunities.</h2>

                      </div>
                      <div class="col-12 col-lg-6 p-0 position-relative ">
                        <img src="/images/banner5.png" alt="" class="img-fluid w-100 rounded-1">
                        <span
                          class="text-secondary fw-bold ps-2 pt-1 mt-5 pt-5 position-absolute bottom-0 start-50 translate-middle-x  pb-5">

                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="div position-relative" data-bs-toggle="modal" data-bs-target="#modalUsoIdoso"
              style="cursor: pointer;">
              <img src="/images/banner6.png" alt="" class="img-fluid w-100 rounded-1">
              <span class="position-absolute text-secondary fw-bold ps-2 pt-1 fs-3  top-0 start-0">
                VALUES
              </span>

            </div>
          </div>
          <div class="modal modal-xl  fade" id="modalUsoIdoso" tabindex="-1" aria-labelledby="modalUsoIdosoLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                  <div class="container-fluid ">
                    <div class="row ">
                      <div class="col-12 col-lg-6 ">
                        <h2 class="fw-bold fs-3 tex-dark pb-3 "> Values</h2>
                        <h2 class="fw-light tex-dark fs-5 pb-3">Educational Innovation
                          We constantly seek new approaches to practical and effective learning.

                          Empathy and Solidarity
                          We commit to understanding the needs of our participants, fostering a culture of support and
                          collaboration.

                          Social Responsibility
                          We actively contribute to the sustainable development of the community, promoting fair and
                          accessible opportunities.

                          Transparency and Integrity
                          We maintain high ethical standards, being transparent in our practices.
                        </h2>

                      </div>
                      <div class="col-12 col-lg-6 p-0 position-relative ">
                        <img src="/images/banner6.png" alt="" class="img-fluid w-100  rounded-1">
                        <span
                          class="text-secondary fw-bold ps-2 pt-1 mt-5 pt-5 position-absolute bottom-0 start-50 translate-middle-x  pb-5">

                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col justify-content-center align-items-center d-flex">
            <div class="d-flex justify-content-center align-items-center d-flex d-lg-none">
              <a class="text-secondary text-decoration-none text-secondary align-items-center d-flex fw-bold fs-5 "
                href="#">ABOUT US <img class="" src="/images/icon-arrow-white.svg" alt=""></a>
            </div>
          </div>
        </div>


        <div class="row pb-0 pb-lg-5">
          <div class="d-flex justify-content-end d-none d-lg-flex">
            <a class="text-secondary text-decoration-none text-secondary align-items-center d-flex fw-light fs-5 "
              href="#atendimento-presencial">ABOUT US <img class="" src="/images/icon-arrow-white.svg" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Estratégia de Escabilidade -->
  <section>
    <div class="container mt-5">
      <div class="row mt-5 mb-5">
        <div class="text-center">
          <h1 class="text-dark fs-1 fw-bold"> Scalability Strategy</h1>
          <div style="height: 4px;" class="bg-primary rounded-pill mt-3 mb-3">.</div>
          <h3 class="text-dark fs-3 fw-light">To expand nationally, we'll strengthen partnerships with educational
            institutions and government agencies, invest in
            technology for better services, and focus on connecting students with job opportunities.</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- Parallax -->
  <section>
    <style>
      .parallax-container {
        background-image: url('/images/banner7.png');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        height: auto;
        /* Adicione o padding necessário para o conteúdo */
      }

      /* Estilo para o conteúdo dentro do contêiner parallax */
      .parallax-content {
        color: #fff;
        text-align: center;
      }
    </style>
    <section class="parallax-container pt-5 pb-5">
      <div class="container  pt-5 " style="height: 500px;">
      </div>
    </section>
  </section>
  <!-- Perguntas Frequentes -->
  <section>
    <div class="container mt-5">
      <div class="row">
        <h1 class="text-primary fw-bold"> Any questions? </h1>
      </div>
      <div class="row mb-5 mt-5">
        <div class="accordion accordion-flush rounded-5" id="accordionFlushExample">
          <div class="accordion-item rounded-5 border-2 border-secondary mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-5" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                How does REAL plan to ensure the quality and completion of projects undertaken by students through the
                platform?
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">REAL implements a rigorous vetting process for both students and projects.
                Students must demonstrate relevant skills and
                undergo training, while projects are carefully assessed to ensure feasibility and alignment with student
                capabilities.
                Additionally, ongoing supervision and support are provided throughout project execution to maintain
                quality standards.
              </div>
            </div>
          </div>
          <div class="accordion-item rounded-5 border-2 border-secondary mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-5" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                What measures does REAL take to ensure fairness and transparency in the allocation of projects to
                students?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">REAL employs a transparent project allocation system based on merit and
                suitability. Projects are matched with students
                based on their skills, experience, and interests, ensuring a fair and equitable distribution.
                Furthermore, all project
                assignments and progress are documented and accessible to stakeholders, promoting transparency in the
                allocation
                process.
              </div>
            </div>
          </div>
          <div class="accordion-item rounded-5 border-2 border-secondary mb-4">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed rounded-5" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                How does REAL address the potential challenges or conflicts that may arise between students and project
                stakeholders
                during project execution?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">REAL establishes clear communication channels and dispute resolution
                mechanisms to address conflicts promptly and
                effectively. Students are encouraged to maintain open communication with project stakeholders and seek
                guidance from
                REAL's support team when encountering challenges. Additionally, mediation and arbitration processes are
                available to
                resolve disputes amicably and ensure project continuity.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid bg-dark">
    <footer class="py-3">
      <ul class="nav justify-content-center border-bottom">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-secondary">About</a></li>
      </ul>
      <p class="text-center text-secondary mt-4">© 2024 REAL Company, Inc</p>
    </footer>
  </div>
  <script src="https://kit.fontawesome.com/66b39b2469.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>